
.anime-1 {
	transform: translate(-150%, 0%);
	transition: all 2s ease 0s;
}
.anime-1._active {
	transform: translate(0%, 0%);
	transition: all 1s ease 0s;
}
.anime-1._active:nth-child(1) {
	transition: all 1s ease 0.2s;
}
.anime-1._active:nth-child(2) {
	transition: all 1s ease 0.4s;
}
.anime-1._active:nth-child(3) {
	transition: all 1s ease 0.6s;
}
.anime-1._active:nth-child(4) {
	transition: all 1s ease 0.8s;
}
.anime-2 {
	opacity: 0;
	transform: scale(0);
	//transform: scale(0) rotate3d(1,1,1,360deg);
	transition: all 2s ease 0s;
}
.anime-2._active {
	opacity: 1;
	transform: scale(1);
	//transform: scale(1) rotate3d(0,0,0, 0deg);
}
.anime-3 {
	transform: translate(200%, 0%);
	transition: all 1s ease 0s;
}
.anime-3._active {
	transform: translate(0%, 0%);
	transition: all 1s ease 0s;
}
.anime-3._active:nth-child(1) {
	transition: all 1s ease 0.2s;
}
.anime-3._active:nth-child(2) {
	transition: all 1s ease 0.4s;
}
.anime-3._active:nth-child(3) {
	transition: all 1s ease 0.6s;
}
.anime-4 {
	transform: translate(-150%, 0%);
	transition: all 5s ease 0s;
}
.anime-4._active {
	transform: translate(0%, 0%);
	
}
.anime-5 {
	transform: translate(77%, -43%) rotate(2deg);
	transition: all 2s ease 0s;
}
.anime-5._active {
	transform: translate(0%, 0%) rotate(0);
	//transform: translate(0%, 30%) rotate(190deg);
}
.anime-6 {
	opacity: 0;
	transform: scale(0);
	transition: all 1s ease 0s;
}
.anime-6._active {
	opacity: 1;
	transform: scale(1);
}
.anime-7 {
	color: #844e3d;
	transition: all 4s ease 0s;
}
.anime-7._active {
	color: #23242a;
}
