@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
.footer .doodle7, .footer .doodle6, .footer .doodle5, .block-run .block-run__flex-box .block-run-img {
  animation-name: animal;
  animation-duration: 300s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.block-jump .Subscribe a {
  animation-name: animal2;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

html {
  font-size: 20px;
}

body {
  font-family: "Dancing Script", cursive;
  background: #626161;
  letter-spacing: 0.3px;
  line-height: 22px;
}

.wrapper {
  max-width: 1440px;
  background: #ffffff;
  margin: 0 auto;
  overflow: hidden;
}

.logo {
  font-size: 1.3125rem;
  line-height: 135%;
  letter-spacing: -0.01em;
  color: #3c227c;
  font-weight: 700;
}

.logo:hover a {
  text-shadow: 1px 1px 0px rgba(116, 116, 116, 0.27);
}

.title {
  font-size: calc(30px + 22 * ((100vw - 320px) / 1120));
  line-height: 56px;
  letter-spacing: 0.2px;
}

button {
  align-items: center;
  text-align: center;
  font-size: 1rem;
  line-height: 18px;
  white-space: nowrap;
  letter-spacing: 0.3px;
}

.container {
  margin: 0 8.47vw 0 7.77vw;
}

a:hover {
  text-shadow: 1px 1px 0px rgba(116, 116, 116, 0.429);
}

button:hover {
  text-shadow: 1px 1px 0px rgba(116, 116, 116, 0.429);
}

button:active {
  font-size: 1.1rem;
}

.block-top {
  background: rgba(255, 165, 2, 0.5);
}
.block-top .block-top__container {
  padding-top: 3.05vw;
}
.block-top .block-top__head {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.block-top .block-top__head .head__menu {
  display: flex;
  margin: auto 0;
  justify-content: space-between;
}
.block-top .block-top__head .head__menu .menu {
  margin: 0 20px;
}
.block-top .block-top__head .head__menu .menu__list {
  display: none;
  position: absolute;
  left: 25%;
  right: 25%;
  top: 100%;
  color: #737b7d;
  line-height: 26px;
  padding: 22px;
  border-radius: 16px;
  background: rgba(100, 175, 166, 0.93);
  z-index: 3;
}
.block-top .block-top__head .head__menu .menu__list a {
  color: #022b35;
}
.block-top .block-top__head .head__menu .menu__list span {
  color: #022b35;
}
.block-top .block-top__head .head__menu .menu._active .menu__button span:first-child {
  display: none;
}
.block-top .block-top__head .head__menu .menu._active .menu__button span:last-child {
  display: block;
}
.block-top .block-top__head .head__menu .menu__button span:first-child {
  display: block;
}
.block-top .block-top__head .head__menu .menu__button span:last-child {
  display: none;
}
.block-top .block-top__head .head__menu .menu._active .menu__list {
  display: block;
  line-height: 40px;
}
.block-top .block-top__head .head__sing {
  white-space: nowrap;
}
.block-top .block-top__head .head__sing .button__sign-in {
  color: #3c64b1;
  padding: 12px 18px;
  margin-right: 20px;
}
.block-top .block-top__head .head__sing .button__sign-up {
  padding: 12px 18px;
  background: #f73c6b;
  border-radius: 6px;
  color: #ffffff;
}
.block-top .block-top__head .head__sing .button__sign-up:hover {
  background: #d2325a;
}
.block-top .block-top__head .head__sing .button__sign-in:hover {
  border-radius: 6px;
}
.block-top .block-top__flex-box {
  display: flex;
}
.block-top .block-top__flex-box .block-top__box-left {
  align-self: flex-end;
  min-width: 50%;
}
.block-top .block-top__flex-box .block-top__box-left img {
  max-width: 100%;
}
.block-top .block-top__flex-box .block-top__box-rigth {
  max-width: 445px;
  margin: 9.72vw 0 5.97vw 3.59vw;
}
.block-top .block-top__flex-box .block-top__box-rigth .block-top__title {
  color: #373f41;
}
.block-top .block-top__flex-box .block-top__box-rigth .block-top__text {
  color: #737b7d;
  margin: 40px 0 56px 0;
}
.block-top .block-top__flex-box .block-top__box-rigth .block-top__buttun .button__contact-us {
  border: 1px solid #f73c6b;
  padding: 12px 18px;
  color: #f73c6b;
  border-radius: 6px;
}
.block-top .block-top__flex-box .block-top__box-rigth .block-top__buttun .button__contact-us a {
  color: #f73c6b;
}

.block-think {
  position: relative;
}
.block-think .block-think__flex-box {
  margin-top: 23px;
  display: flex;
  margin-bottom: 174px;
}
.block-think .block-think__flex-box .block-think__left-box .think-row {
  max-width: 588px;
  background: #ffffff;
  box-shadow: 0px 12px 35px 4px rgba(171, 8, 96, 0.05);
  border-radius: 15px;
  padding: 41px 28px;
  margin: 0 0 25px 18px;
  transition: all 0.8s ease 0s;
}
.block-think .block-think__flex-box .block-think__left-box .think-row .block-think__row-text {
  color: #282828;
}
.block-think .block-think__flex-box .block-think__left-box .think-row:hover {
  background: #4f55dd;
}
.block-think .block-think__flex-box .block-think__left-box .think-row:hover .block-think__row-text {
  color: #ffffff;
}
.block-think .block-think__flex-box .block-think__left-box .block-think__row3 {
  margin: 0 0 0px 18px;
}
.block-think .block-think__flex-box .block-think__right-box {
  align-self: flex-end;
  margin-left: 109px;
  margin-bottom: 13px;
}
.block-think .block-think__flex-box .block-think__right-box img {
  max-width: 100%;
}

.block-bike .block-bike__top {
  background: rgba(46, 213, 115, 0.5);
  padding: 68px 0;
}
.block-bike .block-bike__top .block-bike-top__container {
  margin: 0 8.47vw;
  display: flex;
  justify-content: space-between;
}
.block-bike .block-bike__top .block-bike__top-text {
  line-height: 56px;
  letter-spacing: 0.2px;
  color: #4f4f4f;
  max-width: 30vw;
  font-size: calc(30px + 14 * ((100vw - 320px) / 1120));
}
.block-bike .block-bike__grid-box {
  position: relative;
  margin: 0 8.47vw;
  display: grid;
  grid-template-areas: "n1 n7 n7 n6" "n2 n3 n4 n5";
  -moz-column-gap: 4.9vw;
       column-gap: 4.9vw;
  row-gap: 95px;
  padding-top: 42px;
}
.block-bike .block-bike__grid-box .block-bike__element-bike {
  position: absolute;
  transform: translate(20vw, -54%);
  max-width: 38vw;
}
.block-bike .block-bike__grid-box .block-bike__element-bike img {
  max-width: 100%;
}
.block-bike .block-bike__grid-box .block-bike__element div {
  margin-bottom: 17px;
}
.block-bike .block-bike__grid-box .block-bike__element1 {
  grid-area: n1;
}
.block-bike .block-bike__grid-box .block-bike__element2 {
  grid-area: n2;
}
.block-bike .block-bike__grid-box .block-bike__element3 {
  grid-area: n3;
}
.block-bike .block-bike__grid-box .block-bike__element4 {
  grid-area: n4;
}
.block-bike .block-bike__grid-box .block-bike__element5 {
  grid-area: n5;
}
.block-bike .block-bike__grid-box .block-bike__element6 {
  grid-area: n6;
}

.block-run .block-run__container {
  margin: 0 8.47vw 0 5.47vw;
  padding: 11.111vw 0 2vw 0;
}
.block-run .block-run__flex-box {
  display: flex;
  justify-content: space-between;
}
.block-run .block-run__flex-box .block-run__left-box {
  flex: 0 0 50%;
  margin-top: 6.2vw;
}
.block-run .block-run__flex-box .block-run__left-box img {
  max-width: 100%;
}
.block-run .block-run__flex-box .block-run__right-box {
  z-index: 1;
  max-width: 445px;
  margin-top: 9.2vw;
}
.block-run .block-run__flex-box .block-run__right-box .block-run__top {
  font-size: 1.4375rem;
  line-height: 56px;
  letter-spacing: 0.2px;
  color: #373f41;
}
.block-run .block-run__flex-box .block-run__right-box .block-run__title {
  color: #373f41;
  margin: 20px 0 34px 0;
}
.block-run .block-run__flex-box .block-run__right-box .block-run__text {
  color: #737b7d;
  padding-bottom: 40px;
}
.block-run .block-run__flex-box .block-run-img {
  min-width: 100px;
}
.block-run .block-run__flex-box .block-run-img img {
  max-width: 100%;
}

.block-jump {
  background: rgba(255, 71, 87, 0.5);
  position: relative;
}
.block-jump .block-jump__container {
  padding: 174px 126px 115px 126px;
}
.block-jump .Subscribe {
  position: absolute;
  padding: 10px 0;
  line-height: 56px;
  letter-spacing: 0.2px;
  transform: rotate(16.95deg);
  top: 2vw;
  right: 38%;
  font-weight: 700;
  font-size: calc(10px + 39 * ((100vw - 320px) / 1120));
}
.block-jump .Subscribe a {
  color: #ffa3ab;
  max-width: 200px;
}
.block-jump a:hover {
  color: #4f4f4f;
}
.block-jump a:active {
  color: #4f4f4f;
  font-size: calc(10px + 40 * ((100vw - 320px) / 1120));
}
.block-jump .block-jump__img {
  position: absolute;
  max-width: 55vw;
  top: -3.5vw;
  right: 5%;
}
.block-jump .block-jump__img img {
  max-width: 100%;
}
.block-jump .block-jump__text {
  font-size: 2.3125rem;
  line-height: 56px;
  align-items: center;
  letter-spacing: 0.2px;
  color: #4f4f4f;
  max-width: 40vw;
}
.block-jump .block-jump__form {
  margin-top: 35px;
}
.block-jump .block-jump__form .mail {
  width: 282px;
  height: 42px;
  border-radius: 12px;
  background-color: #ffffff;
  margin-right: 24px;
  margin-bottom: 5px;
}
.block-jump .block-jump__form .mail:hover {
  box-shadow: 0 0 2px #000000;
}
.block-jump .block-jump__form .submit-a {
  position: relative;
  background: #f73c6b;
  border-radius: 12px;
  padding: 12px 18px;
  color: #ffffff;
}
.block-jump .block-jump__form .submit-a:hover {
  background: #de355f;
}

.block-column {
  color: #23242a;
}
.block-column .block-column__top {
  margin: 0 40px;
  padding: 132px 0 25px 0;
  display: flex;
  justify-content: space-between;
}
.block-column .block-column__top .block-column__top-text {
  font-size: 3.25rem;
  line-height: 110%;
  letter-spacing: -0.045em;
}
.block-column .block-column__top .block-column__knopka-hz {
  margin-right: 40px;
}
.block-column .block-column__top .block-column__knopka-hz button {
  background: url("../img/Arrow.png") 100% 0 no-repeat;
  padding-right: 30px;
  height: 30px;
  padding: 0px 30px 5px 0;
}
.block-column .block-column__flex-column {
  display: grid;
  grid-template: repeat(1, auto)/repeat(auto-fit, minmax(283px, 1fr));
  justify-content: space-between;
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 30px;
  justify-content: space-between;
  margin-bottom: 109px;
}
.block-column .block-column__flex-column .block-column__column {
  position: relative;
  max-width: 377px;
  min-height: 398.41px;
  box-shadow: 10px 10px 50px 3px rgba(39, 92, 141, 0.1);
  border-radius: 12px;
}
.block-column .block-column__flex-column .block-column__text {
  padding: 41px 37px;
}
.block-column .block-column__flex-column .block-column__text .block-column__text-title {
  margin-bottom: 37.07px;
  font-size: 2.75rem;
  line-height: 110%;
  letter-spacing: -0.03em;
}
.block-column .block-column__flex-column .block-column__text .block-column__text-mid {
  line-height: 130%;
  letter-spacing: -0.02em;
  margin-bottom: 62px;
}
.block-column .block-column__flex-column .block-column__foot {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 26.62px 0;
  border-radius: 0px 0px 12px 12px;
}
.block-column .block-column__flex-column .block-column__foot span {
  margin-left: 42.11px;
  font-size: 1.3125rem;
  line-height: 135%;
  letter-spacing: -0.01em;
  color: #000000;
}
.block-column .block-column__flex-column .f1 {
  background: #ffd281;
}
.block-column .block-column__flex-column .f2 {
  background: rgba(46, 213, 115, 0.5);
}
.block-column .block-column__flex-column .f3 {
  background: #ffa3ab;
}
.block-column .block-column__flex-column .block-column__column:hover {
  box-shadow: 0px 0px 4px rgba(39, 92, 141, 0.1);
}

.footer {
  background: rgba(46, 213, 115, 0.5);
  position: relative;
}
.footer .doodle5 {
  position: absolute;
  right: 1%;
  top: 64%;
}
.footer .doodle6 {
  position: absolute;
  top: 48%;
}
.footer .doodle7 {
  position: absolute;
  right: 0%;
  top: -15%;
}
.footer .footer__container {
  padding: 23px 0 80px 0;
}
.footer .footer__block-top {
  border-bottom: 1px solid #000000;
}
.footer .footer__block-top .footer__top-flex {
  display: flex;
}
.footer .footer__block-top .footer__top-flex .footer__block-top-l {
  flex: 0 0 50%;
  margin-top: 20px;
}
.footer .footer__block-top .footer__top-flex .footer__block-top-l .footer__block-top-logo {
  margin-bottom: 38px;
}
.footer .footer__block-top .footer__top-flex .footer__block-top-l .footer__block-top-text {
  max-width: 445px;
  line-height: 22px;
  text-align: justify;
  letter-spacing: 0.3px;
  color: #454646;
}
.footer .footer__block-top .footer__top-flex .footer__block-top-r {
  margin-top: 20px;
  flex: 0 0 50%;
  display: flex;
  justify-content: space-between;
}
.footer .footer__block-top .footer__top-flex .footer__block-top-r .footer__block-top-column {
  margin: 0 30px;
}
.footer .footer__block-top .footer__top-flex .footer__block-top-r .footer__block-top-column li:first-child {
  margin-bottom: 38.68px;
}
.footer .footer__block-top .footer__top-flex .footer__block-top-r .footer__block-top-column li:first-child a {
  font-size: 1.125rem;
  line-height: 135%;
  letter-spacing: -0.01em;
  color: #000000;
  opacity: 0.5;
}
.footer .footer__block-top .footer__top-flex .footer__block-top-r .footer__block-top-column li a {
  line-height: 135%;
  letter-spacing: -0.01em;
  color: #555555;
}
.footer .footer__block-top .footer__block-menu {
  margin: 14px 0 18px 0;
}
.footer .footer__block-top .footer__block-menu ul {
  display: flex;
  justify-content: flex-end;
}
.footer .footer__block-top .footer__block-menu ul li {
  margin: 0 14px;
}
.footer .footer__block-top .footer__block-menu ul li a {
  font-size: 1.125rem;
  line-height: 135%;
  letter-spacing: -0.01em;
  color: #000000;
}
.footer .footer__block-bottom .footer__sec-pay {
  text-align: center;
  margin: 32px 0 66px 0;
}
.footer .footer__block-bottom .footer__sec-pay a {
  margin: 0 9px;
}
.footer .footer__block-bottom .footer__sec-pay a:hover {
  border: 2px solid rgba(0, 0, 0, 0);
}
.footer .footer__block-bottom .footer__sec-bott {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 1441px) {
  .container {
    margin: 0 120px;
  }
  .block-top .block-top__container {
    padding-top: 70px;
  }
  .block-top .block-top__flex-box .block-top__box-rigth {
    max-width: 445px;
    margin: 70px 70px;
  }
  .block-bike .block-bike__top {
    padding: 68px 0;
  }
  .block-bike .block-bike__top .block-bike-top__container {
    margin: 0 110px;
  }
  .block-bike .block-bike__top .block-bike__top-text {
    max-width: 440px;
  }
  .block-bike .block-bike__grid-box {
    margin: 0 120px;
  }
  .block-bike .block-bike__grid-box .block-bike__element-bike {
    transform: translate(50%, -54%);
  }
  .block-jump .Subscribe {
    top: 6%;
    right: 38%;
    font-size: calc(49px + 0 * ((100vw - 320px) / 1120));
  }
  .block-jump .block-jump__img {
    top: -11%;
  }
  .block-run .block-run__container {
    padding: 70px 0 2vw 0;
  }
  .block-jump .block-jump__text {
    max-width: 534px;
  }
  .footer .footer__container {
    padding: 23px 0 80px 0;
  }
}
@media (max-width: 1100px) {
  .block-jump .Subscribe {
    top: 1vw;
  }
}
@media (max-width: 750px) {
  .block-top .block-top__container {
    padding-top: 5.05vw;
  }
  .block-top .block-top__head {
    flex-wrap: wrap;
  }
  .block-top .block-top__head button {
    font-size: 0.8rem;
  }
  .block-top .block-top__head .head__menu {
    flex: 0 0 100%;
    order: 3;
    margin: 25px 0;
  }
  .block-top .block-top__head .head__menu .menu__list {
    left: 15%;
    right: 15%;
    top: 100%;
  }
  .block-think .block-think__img {
    max-width: 100px;
    max-height: 100px;
  }
  .block-think .block-think__img img {
    max-width: 70%;
  }
  .block-think .block-think__flex-box {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-bottom: 70px;
  }
  .block-think .block-think__flex-box .block-think__right-box {
    align-self: center;
    margin-left: 0px;
    margin-bottom: 13px;
  }
  .block-think .block-think__flex-box {
    margin-top: 0px;
    margin-bottom: 40px;
  }
  .block-run .block-run__flex-box .block-run-img {
    min-width: 100px;
    display: none;
  }
  .block-jump .block-jump__container {
    padding: 74px 50px;
  }
  .block-jump .Subscribe {
    top: -2%;
  }
  .footer .footer__zayob {
    display: none;
  }
  .footer .footer__top-flex {
    display: flex;
    flex-wrap: wrap;
  }
  .footer .footer__block-top .footer__top-flex .footer__block-top-l {
    flex: 0 0 100%;
  }
  .footer .footer__block-top .footer__top-flex .footer__block-top-l .footer__block-top-text {
    max-width: 700px;
  }
  .footer .footer__block-top .footer__top-flex .footer__block-top-r {
    flex: 0 0 100%;
  }
  .block-column .block-column__flex-column {
    justify-items: center;
  }
}
@media (max-width: 550px) {
  .block-top .block-top__flex-box {
    display: flex;
    flex-direction: column-reverse;
  }
  .block-bike .block-bike__grid-box {
    position: relative;
    margin: 0 8.47vw;
    display: grid;
    grid-template-areas: "n1 n3 n5" "n2 n4 n6";
    -moz-column-gap: 4.9vw;
    column-gap: 4.9vw;
    row-gap: 30px;
    padding-top: 95px;
  }
  .block-bike .block-bike__grid-box .block-bike__element-bike {
    max-width: 42vw;
  }
  .footer .footer__block-top .footer__top-flex .footer__block-top-r .footer__block-top-column {
    margin: 0 10px;
  }
  .footer .footer__block-top .footer__block-menu {
    margin: 10px 0;
  }
  .footer .footer__block-top .footer__block-menu ul li {
    margin: 0 8px;
  }
  .footer .footer__block-top .footer__block-menu ul li a {
    font-size: 16px;
    line-height: 135%;
    letter-spacing: -0.01em;
    color: #000000;
  }
  .block-jump .block-jump__container {
    padding: 74px 0px;
  }
  .block-bike .block-bike__grid-box {
    margin: 0 20px;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .block-bike .block-bike__top .block-bike__top-text {
    line-height: 34px;
    font-size: calc(16px + 4 * ((100vw - 320px) / 1120));
  }
  .block-jump .block-jump__form .mail {
    margin-right: 0px;
  }
  .block-jump .Subscribe {
    top: -3%;
  }
  .block-jump .block-jump__text {
    max-width: 70vw;
  }
  .block-column .block-column__top {
    padding: 50px 0 25px 0;
    flex-direction: column;
  }
  .block-column .block-column__top .block-column__knopka-hz {
    margin: 40px;
  }
}
@media (max-width: 400px) {
  .block-top .block-top__head .head__menu .menu {
    margin: 0 8px;
  }
  .block-top .block-top__container {
    padding-top: 5.05vw;
  }
  .block-bike .block-bike__grid-box {
    grid-template-areas: "n1 n2" "n3 n4" "n5 n6";
  }
  .block-run .block-run__flex-box {
    display: flex;
    flex-direction: column;
  }
  .block-jump .Subscribe {
    top: -4%;
  }
}
@keyframes animal {
  0% {
    transform: rotate(360deg);
    -webkit-backface-visibility: visible;
            backface-visibility: visible;
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes animal2 {
  100% {
    color: #a46b70;
  }
}/*# sourceMappingURL=style.css.map */