$maxWidth: 1440; // ширина екрану  макета
@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
%par1 {
	animation-name: animal;
	animation-duration: 300s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
%par2 {
	animation-name: animal2;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
%par3 {
	animation-name: animal3;
	animation-duration: 30s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
html {
	font-size: 20px;
}
body {
	font-family: "Quicksand", sans-serif;
	//font-family: 'Caveat', sans-serif;
	//font-family: "Dancing Script", cursive;
	background: #626161;
	letter-spacing: 0.3px;
	line-height: 22px;
	
}
.wrapper {
	max-width: 1440px;
	background: #ffffff;
	margin: 0 auto;
	overflow: hidden;
}
.logo {
	font-size: 1.3125rem;
	line-height: 135%;
	letter-spacing: -0.01em;
	color: #3c227c;
	font-weight: 700;
}
.logo:hover {
	a {
		//border-bottom: 0px solid #373f4149;
		text-shadow: 1px 1px 0px rgba(116, 116, 116, 0.27);
	}
}
.title {
	@include adaptiv-font(52, 30);
	line-height: 56px;
	letter-spacing: 0.2px;
}
button {
	align-items: center;
	text-align: center;
	font-size: 1rem;
	line-height: 18px;
	white-space: nowrap;
	letter-spacing: 0.3px;
}

.container {
	margin: 0 8.47vw 0 7.77vw;
}
a:hover {
	//border-bottom: 1px solid #373f4149;
	text-shadow: 1px 1px 4px rgba(116, 116, 116, 0.429);
}
button:hover {
	//border-bottom: 1px solid #373f4149;
	text-shadow: 1px 1px 4px rgba(18, 17, 17, 0.429);
}
button:active {
	font-size: 1.1rem;
}
.block-top {
	background: rgba(255, 165, 2, 0.5);
	.block-top__container {
		padding-top: 3.05vw;
	}
	.block-top__head {
		display: flex;
		justify-content: space-between;
		position: relative;
		.head__menu {
			display: flex;
			margin: auto 0;
			justify-content: space-between;
			.menu {
				margin: 0 20px;
				span {
					color: #022b35;
				}
			}
			.menu__list {
				display: none;
				position: absolute;
				left: 25%;
				right: 25%;
				top: 100%;
				text-align: center;
				//color: #737b7d;
				line-height: 26px;
				padding: 22px;
				border-radius: 16px;
				background: rgb(100 175 166 / 93%);
				z-index: 3;
				a {
					color: #350202;
					border-bottom: 1px solid #373f4149;
				}
			}
			.menu._active .menu__button span:first-child {
				display: none;
			}
			.menu._active .menu__button span:last-child {
				display: block;
			}
			.menu__button span:first-child {
				display: block;
			}
			.menu__button span:last-child {
				display: none;
			}
			.menu._active .menu__list {
				display: block;
				line-height: 40px;
			}
		}
		.head__sing {
			white-space: nowrap;
			.button__sign-in {
				color: #3c64b1;
				padding: 12px 18px;
				margin-right: 20px;
			}
			.button__sign-up {
				padding: 12px 18px;
				background: #f73c6b;
				border-radius: 6px;
				color: #ffffff;
			}
			.button__sign-up:hover {
				background: #d2325a;
			}
			.button__sign-in:hover {
				border-radius: 6px;
			}
		}
	}
	.block-top__flex-box {
		display: flex;
		.block-top__box-left {
			align-self: flex-end;
			min-width: 50%;
			img {
				max-width: 100%;
			}
		}
		.block-top__box-rigth {
			max-width: 445px;
			margin: 9.72vw 0 5.97vw 3.59vw;
			.block-top__title {
				color: #373f41;
			}
			.block-top__text {
				color: #737b7d;
				margin: 40px 0 56px 0;
			}
			.block-top__buttun {
				.button__contact-us {
					border: 1px solid #f73c6b;
					padding: 12px 18px;
					color: #f73c6b;
					border-radius: 6px;
					a {
						color: #f73c6b;
					}
				}
			}
		}
	}
}
.block-think {
	.block-think__flex-box {
		margin-top: 23px;
		display: flex;
		padding-bottom: 174px;
		position: relative;
		.block-think__left-box {
			.think-row {
				max-width: 588px;
				background: #ffffff;
				box-shadow: 0px 12px 35px 4px rgba(171, 8, 96, 0.05);
				border-radius: 15px;
				padding: 41px 28px;
				margin: 0 0 25px 18px;
				transition: all 0.8s ease 0s;
				.block-think__row-text {
					color: #282828;
				}
			}
			.think-row:hover {
				background: #4f55dd;
				.block-think__row-text {
					color: #ffffff;
				}
			}
			.block-think__row3 {
				margin: 0 0 0px 18px;
			}
		}
		.block-think__right-box {
			align-self: flex-end;
			margin-left: 109px;
			margin-bottom: 13px;
			img {
				max-width: 100%;
			}
			.on-n0 {
				display: none;
			}
			.off-n0 {
				.n1 {
					position: absolute;
					top: 26%;
					left: 57%;
					transform: scale(0);
					transition: all 2s ease 5s;
				}
				.n2 {
					position: absolute;
					top: 24%;
					left: 57%;
				}
			}
			.off-n0:hover {
				.n1 {
					transition: all 2s ease 0s;
					transform: scale(1);
				}
			}
		}
	}
}
.block-bike {
	.block-bike__top {
		.block-bike-top__container {
			margin: 0 8.47vw;
			display: flex;
			justify-content: space-between;
		}
		background: rgba(46, 213, 115, 0.5);
		padding: 68px 0;
		.block-bike__top-text {
			line-height: 56px;
			letter-spacing: 0.2px;
			color: #4f4f4f;
			max-width: 30vw;
			@include adaptiv-font(44, 30);
		}
	}
	.block-bike__grid-box {
		position: relative;
		margin: 0 8.47vw;
		display: grid;
		grid-template-areas:
			"n1 n7 n7 n6"
			"n2 n3 n4 n5";
		column-gap: 4.9vw;
		row-gap: 95px;
		padding-top: 42px;
		.block-bike__element-bike {
			position: absolute;
			transform: translate(20vw, -54%);
			max-width: 38vw;
			img {
				max-width: 100%;
			}
		}
		.block-bike__element {
			div {
				margin-bottom: 17px;
				//padding: 5px;
			}
			img:hover {
				cursor: grab;
				transform: scale(1.1);
			}
		}
		.block-bike__element:hover {
			text-shadow: 1px 1px 0px rgba(116, 116, 116, 0.429);
		}
		.block-bike__element1 {
			grid-area: n1;
		}
		.block-bike__element2 {
			grid-area: n2;
		}
		.block-bike__element3 {
			grid-area: n3;
		}
		.block-bike__element4 {
			grid-area: n4;
		}
		.block-bike__element5 {
			grid-area: n5;
		}
		.block-bike__element6 {
			grid-area: n6;
		}
	}
}
.block-run {
	.block-run__container {
		margin: 0 8.47vw 0 5.47vw;
		padding: 11.111vw 0 2vw 0;
	}
	.block-run__flex-box {
		display: flex;
		justify-content: space-between;
		.block-run__left-box {
			position: relative;
			flex: 0 0 50%;
			margin-top: 6.2vw;
			.Saly-0 {
				position: relative;
				z-index: 1;
			}
			.Saly-1 {
				position: absolute;
				top: 50%;
				left: 8%;
				@extend %par3;
			}
			.Saly-2 {
				position: absolute;
				top: 28%;
				left: 0;
				@extend %par3;
			}
			.Saly-3 {
				position: absolute;
				top: 10%;
				left: 4%;
				@extend %par3;
			}
			.Saly-4 {
				position: absolute;
				top: 5%;
				right: 37%;
				@extend %par3;
			}
			.Saly-5 {
				position: absolute;
				top: 36%;
				right: 32%;
				@extend %par3;
			}
			.Saly-6 {
				position: absolute;
				top: 52%;
				right: 41%;
				@extend %par3;
			}
			img {
				max-width: 100%;
			}
		}
		.block-run__right-box {
			z-index: 1;
			max-width: 445px;
			margin-top: 9.2vw;
			.block-run__top {
				font-size: 1.4375rem;
				line-height: 56px;
				letter-spacing: 0.2px;
				color: #373f41;
			}
			.block-run__title {
				color: #373f41;
				margin: 20px 0 34px 0;
			}
			.block-run__text {
				color: #737b7d;
				padding-bottom: 40px;
			}
		}
		.block-run-img {
			min-width: 100px;
			img {
				max-width: 100%;
			}
		}
	}
	.full {
		display: none;
	}
}
.block-jump {
	background: rgba(255, 71, 87, 0.5);
	position: relative;
	.block-jump__container {
		padding: 174px 126px 115px 126px;
	}
	.Subscribe {
		position: absolute;
		padding: 10px 0;
		line-height: 56px;
		letter-spacing: 0.2px;
		transform: rotate(16.95deg);
		top: 2vw;
		right: 38%;
		font-weight: 700;
		@include adaptiv-font(49, 10);
		a {
			@extend %par2;
			color: #ffa3ab;
			max-width: 200px;
		}
	}
	a:hover {
		color: #4f4f4f;
	}
	a:active {
		color: #4f4f4f;
		@include adaptiv-font(50, 10);
	}
	.block-jump__img {
		position: absolute;
		//transform: translate(26vw, -47%);
		max-width: 55vw;
		top: -3.5vw;
		right: 5%;
		img {
			max-width: 100%;
		}
	}
	.block-jump__text {
		font-size: 2.3125rem;
		line-height: 56px;
		align-items: center;
		letter-spacing: 0.2px;
		color: #4f4f4f;
		max-width: 40vw;
	}
	.block-jump__form {
		margin-top: 35px;
		.mail {
			width: 282px;
			height: 42px;
			border-radius: 12px;
			background-color: #ffffff;
			margin-right: 24px;
			margin-bottom: 5px;
		}
		.mail:hover {
			box-shadow: 0 0 2px #000000;
		}
		.submit-a {
			position: relative;
			background: #f73c6b;
			border-radius: 12px;
			padding: 12px 18px;
			color: #ffffff;
		}
		.submit-a:hover {
			background: #8e223d;
		}
	}
}
.block-column {
	color: #23242a;
	padding-bottom: 109px;
	.block-column__top {
		margin: 0 40px;
		padding: 132px 0 25px 0;
		display: flex;
		justify-content: space-between;
		.block-column__top-text {
			font-size: 3.25rem;
			line-height: 110%;
			letter-spacing: -0.045em;
		}
		.block-column__knopka-hz {
			margin-right: 40px;
			button {
				color: #482607;
				background: url("../img/Arrow.png") 98% 0 no-repeat;
				padding-right: 30px;
				height: 30px;
				padding: 0px 30px 5px 0;
				border-bottom: 1px solid #373f4149;
			}
			button:hover {
				color: #482607;
				background: url("../img/Arrow.png") 100% 0 no-repeat;
				padding-right: 30px;
				height: 30px;
				padding: 0px 30px 5px 0;
			}
		}
	}
	.block-column__flex-column {
		display: grid;
		grid-template: repeat(1, auto) / repeat(auto-fit, minmax(283px, 1fr));
		justify-content: space-between;
		column-gap: 15px;
		row-gap: 30px;
		justify-content: space-between;
		//margin-bottom: 109px;
		.block-column__column {
			position: relative;
			max-width: 377px;
			min-height: 398.41px;
			box-shadow: 10px 10px 50px 3px rgba(39, 92, 141, 0.1);
			border-radius: 12px;
		}
		.block-column__text {
			padding: 41px 37px;
			.block-column__text-title {
				margin-bottom: 37.07px;
				font-size: 2.75rem;
				line-height: 110%;
				letter-spacing: -0.03em;
			}
			.block-column__text-mid {
				line-height: 130%;
				letter-spacing: -0.02em;
				margin-bottom: 62px;
			}
		}
		.block-column__foot {
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 26.62px 0;
			border-radius: 0px 0px 12px 12px;
			span {
				margin-left: 42.11px;
				font-size: 1.3125rem;
				line-height: 135%;
				letter-spacing: -0.01em;
				color: #000000;
			}
		}
		.f1 {
			background: #ffd281;
		}
		.f2 {
			background: rgba(46, 213, 115, 0.5);
		}
		.f3 {
			background: #ffa3ab;
		}
		.block-column__column:hover {
			box-shadow: 0px 0px 4px rgba(39, 92, 141, 0.1);
		}
	}
}
.footer {
	background: rgba(46, 213, 115, 0.5);
	position: relative;
	.doodle5 {
		position: absolute;
		right: 1%;
		top: 64%;
		@extend %par1;
	}
	.doodle6 {
		position: absolute;
		top: 48%;
		@extend %par1;
	}
	.doodle7 {
		position: absolute;
		right: 0%;
		top: -15%;
		@extend %par1;
	}
	.footer__container {
		padding: 23px 0 80px 0;
	}
	.footer__block-top {
		border-bottom: 1px solid #000000;
		.footer__top-flex {
			display: flex;
			//	flex-wrap: wrap;
			.footer__block-top-l {
				flex: 0 0 50%;
				margin-top: 20px;
				.footer__block-top-logo {
					margin-bottom: 38px;
				}
				.footer__block-top-text {
					max-width: 445px;
					line-height: 22px;
					text-align: justify;
					letter-spacing: 0.3px;
					color: #454646;
				}
			}
			.footer__block-top-r {
				margin-top: 20px;
				flex: 0 0 50%;
				display: flex;
				justify-content: space-between;
				.footer__block-top-column {
					margin: 0 30px;
					li:first-child {
						margin-bottom: 38.68px;
						a,
						p {
							font-size: 1.125rem;
							line-height: 135%;
							letter-spacing: -0.01em;
							color: #000000;
							opacity: 0.5;
						}
					}
					li,
					a,
					button,
					p {
						line-height: 135%;
						letter-spacing: -0.01em;
						color: #555555;
						white-space: normal;
					}
				}
				.demos {
					position: relative;
				}
				.demos-info {
					position: absolute;
					top: 95%;
					left: 51px;
					width: 169px;
					background-color: #ffffffc1;
					padding: 10px;
					border-radius: 0 16px 16px 16px;
					display: none;
				}
				.demos:active .demos-info {
					display: block;
				}
				.pages-info {
					position: absolute;
					z-index: 3;
					background-color: #fffffffb;
					padding: 40px;
					border-radius: 16px;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%) scale(0);
					opacity: 0;
					transition: all 0.5s ease 0.2s;
					visibility: hidden;
					//max-height: 500px;
				}
				._active-f .pages-info {
					visibility: visible;
					opacity: 1;
					transform: translate(-50%, -50%) scale(1);
					transition: all 0.5s ease 0s;
				}
				.pages__cont {
					text-align: center;
					line-height: 2.5;
					p:first-child {
						font-weight: 700;
					}
				}
				.pages__clouse {
					position: absolute;
					top: 10px;
					right: 20px;
					font-size: 1.25rem;
					color: #000000;
				}
				.pages__clouse:hover {
					color: #350606;
				}
			}
		}
		.footer__block-menu {
			margin: 14px 0 18px 0;
			ul {
				display: flex;
				justify-content: flex-end;
				li {
					margin: 0 14px;
					a {
						font-size: 1.125rem;
						line-height: 135%;
						letter-spacing: -0.01em;
						color: #000000;
					}
				}
			}
		}
	}
	.footer__block-bottom {
		.footer__sec-pay {
			text-align: center;
			margin: 32px 0 66px 0;
			a {
				margin: 0 9px;
			}
			a:hover {
				border: 2px solid #00000000;
			}
		}
		.footer__sec-bott {
			display: flex;
			justify-content: space-between;
		}
	}
}
@media (min-width: 1441px) {
	.container {
		margin: 0 120px;
	}
	.block-top {
		.block-top__container {
			padding-top: 70px;
		}
		.block-top__flex-box .block-top__box-rigth {
			max-width: 445px;
			margin: 70px 70px;
		}
	}
	.block-bike {
		.block-bike__top {
			.block-bike-top__container {
				margin: 0 110px;
			}
			padding: 68px 0;
			.block-bike__top-text {
				max-width: 440px;
			}
		}
		.block-bike__grid-box {
			margin: 0 120px;
			.block-bike__element-bike {
				transform: translate(50%, -54%);
			}
		}
	}
	.block-jump {
		.Subscribe {
			top: 6%;
			right: 38%;
			@include adaptiv-font(49, 49);
		}
		.block-jump__img {
			//max-width: 720px;
			top: -11%;
		}
	}
	.block-run .block-run__container {
		padding: 70px 0 2vw 0;
	}
	.block-jump .block-jump__text {
		max-width: 534px;
	}
	.footer .footer__container {
		padding: 23px 0 80px 0;
	}
}
@media (max-width: 1200px) {
	.block-think .block-think__flex-box .block-think__right-box .on-n0 {
		display: block;
	}
	.block-think__flex-box .block-think__right-box .off-n0 {
		display: none;
	}
}
@media (max-width: 1100px) {
	.block-run {
		.full {
			display: block;
		}
		.not-full {
			display: none;
		}
	}
	.block-jump {
		.Subscribe {
			top: 1vw;
		}
	}
	.block-think .block-think__flex-box {
		padding-bottom: 70px;
		.block-think__right-box {
			align-self: auto;
		}
	}
}
@media (max-width: 750px) {
	.block-top .block-top__container {
		padding-top: 5.05vw;
	}
	.block-top .block-top__head {
		flex-wrap: wrap;
		button {
			font-size: 0.8rem;
		}
		.head__menu {
			flex: 0 0 100%;
			order: 3;
			margin: 25px 0;
			.menu__list {
				left: 15%;
				right: 15%;
				top: 100%;
			}
		}
	}
	.block-think {
		.block-think__flex-box {
			flex-wrap: wrap;
			flex-direction: column-reverse;
			padding-bottom: 40px;
		}
		.block-think__flex-box .block-think__right-box {
			align-self: center;
			margin-left: 0px;
			margin-bottom: 13px;
		}
		.block-think__flex-box {
			margin-top: 0px;
			margin-bottom: 0px;
		}
	}
	.block-run .block-run__flex-box .block-run-img {
		min-width: 100px;
		display: none;
	}
	.block-jump {
		.block-jump__container {
			padding: 74px 50px;
		}
		.Subscribe {
			top: -2%;
		}
	}
	.footer {
		.footer__zayob {
			display: none;
		}
		.footer__top-flex {
			display: flex;
			flex-wrap: wrap;
		}
		.footer__block-top .footer__top-flex .footer__block-top-l {
			flex: 0 0 100%;
			.footer__block-top-text {
				max-width: 700px;
			}
		}
		.footer__block-top .footer__top-flex .footer__block-top-r {
			flex: 0 0 100%;
			.pages-info {
			width: 80vw;
			}
		}
	}
	.block-column .block-column__flex-column {
		justify-items: center;
	}
}
@media (max-width: 550px) {
	.block-top .block-top__flex-box {
		display: flex;
		flex-direction: column-reverse;
	}
	.block-bike {
		.block-bike__grid-box {
			position: relative;
			margin: 0 8.47vw;
			display: grid;
			grid-template-areas:
				"n1 n3 n5"
				"n2 n4 n6";
			-moz-column-gap: 4.9vw;
			column-gap: 4.9vw;
			row-gap: 30px;
			padding-top: 95px;
		}
		.block-bike__grid-box .block-bike__element-bike {
			max-width: 42vw;
		}
	}
	.footer {
		.footer__block-top .footer__top-flex .footer__block-top-r .footer__block-top-column {
			margin: 0 10px;
		}
		.footer__block-top .footer__block-menu {
			margin: 10px 0;
			ul li {
				margin: 0 8px;
				a {
					font-size: 1rem;
					line-height: 135%;
					letter-spacing: -0.01em;
					color: #000000;
				}
			}
		}
	}
	.block-jump .block-jump__container {
		padding: 74px 0px;
	}
	.block-bike .block-bike__grid-box {
		margin: 0 20px;
		column-gap: 10px;
	}
	.block-bike .block-bike__top .block-bike__top-text {
		line-height: 34px;
		@include adaptiv-font(20, 16);
	}
	.block-jump {
		.block-jump__form .mail {
			margin-right: 0px;
		}
		.Subscribe {
			top: -3%;
		}
		.block-jump__text {
			max-width: 70vw;
		}
	}
	.block-column .block-column__top {
		padding: 50px 0 25px 0;
		flex-direction: column;
		.block-column__knopka-hz {
			margin: 40px;
		}
	}
}
@media (max-width: 400px) {
	.block-top .block-top__head .head__menu .menu {
		margin: 0 8px;
	}
	.block-top .block-top__container {
		padding-top: 5.05vw;
	}
	.block-bike {
		.block-bike__grid-box {
			grid-template-areas:
				"n1 n2"
				"n3 n4"
				"n5 n6";
		}
	}
	.block-run .block-run__flex-box {
		display: flex;
		flex-direction: column;
	}
	.block-jump .Subscribe {
		top: -4%;
	}
}
@keyframes animal {
	0% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}
@keyframes animal2 {
	100% {
		color: #a46b70;
	}
}
@keyframes animal3 {
	0% {
		transform: rotate(360deg) translate(0px, 0px);
	}
	100% {
		transform: rotate(-360deg) translate(10px, 10px);
	}
}
